<div class="social-account">
  <span class="social-provider">
    <%= content_tag :i, '', :class => "icon-#{provider}" %> <%= provider.capitalize %> 
  </span>
  
    <% if @current_user.linked? provider %>
      <% provider_nickname = @current_user.accounts.find_by_provider(provider).nickname %>
      <% unless provider_nickname.blank? %>
        <p><%= "(#{provider_nickname })"%></p>
      <% end %>
      <div class="text-right">      
        <%= link_to 'Eliminar', 
                    account_url(provider: provider),
                    :class => 'btn btn-danger btn-mini',
                    data: { method: :delete } %>
      </div>
    <% else %>
      <div class="text-right">
        <%= link_to 'Agregar', social_login_url(provider: provider),:class => 'btn btn-mini' %>
      </div>      
    <% end %>
                  
</div>
