<% content_for :head do %>
  <%= javascript_include_tag 'posts/form' %>
<% end %>
<div class="container">
  
    <div class="row">
      <div class="span8 offset2">
        <%= bootstrap_form_for @post, html: { :class => 'post-form' } do |f| %>
          <div class="field">
            <%= f.text_field :title, placeholder: 'T&iacute;tulo'.html_safe, :class => 'input-block-level' %>
          </div>
          <div class="field">
            <%= f.text_area :content, :class => 'input-block-level', :rows => 20 %>
          </div>
          <div class="field">
            <span id="tags-container"></span>
            <%= text_field_tag :tags, '', :id => 'tag-input', :placeholder => 'Etiquetas', :class => 'input-xxlarge' %>
          </div>
          <legend>Code tabs</legend>
          <div id="code-tabs">
            <%= f.fields_for :code_blocks do |code_block| %>
              <%= render partial: 'code_block_fields', locals: {f: code_block} %>
            <% end %>
            <p class="text-right">
              <%= link_to_add_association 'Agregar', f, :code_blocks, :class => 'btn' %>
            </p>            
          </div>          
          <div class="actions text-right">
            <button id="preview-btn" class="btn" href="#preview-modal" data-toggle="modal">
              Vista Previa
            </button>
            <%= f.submit 'Continuar', :class => 'btn btn-primary' %>
          </div>        
        <% end %>
      </div>    
    </div> 
    <div id="preview-modal" class="modal fade hide">
      <div class="modal-header">
         <a class="close" data-dismiss="modal">&times;</a>
         <h3 id="preview-post-title">Vista Previa</h3>
      </div>
      <div id="preview" class="modal-body"></div>     
    </div>


  </div>
</div>


